body{
    background-color:rgb(255, 255, 255);
      margin: 0;
     padding: 0;
}

/* .btn-primary
{
    background-color:orange;
} */
 #heder-img
 {
    width:100%;
    height:500px;
 }
.price
{
    background-color:yellow;
    width:50px;
    border-radius:10px;
    margin-left:110px;
    text-align:center;
    /* display: inline-block; */

   
}
.card
{
     border-radius:20px;
     overflow: hidden;
     margin-top:15px;

}
.card:hover
{
    border:solid 3px yellow;
}
.card-title
{
    color:brown;
    text-align:center;
}
.card-text
{
     text-align:center;
     font-family:sans-serif;


}
.add-cart
{
    text-align:center;
    display: inline-block;
    background-color:orange;
    /* margin-left:70px; */
}
.navbar
{
    width:100%;
    color:white;


}
.items-category
{
    background-color:orange;

}
hr
{
    color:black;
    width:1400px;
    height:500px;

}